﻿@page
@model WTT.Web.ManagementPortal.Pages.TimeTrackingPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Evidencija vremena";
    Layout = "_Layout";
    var disabledSubmit = true;

    for (var i = 0; i < Model.Evidencija.Evidencija.Count; i++)
    {
        disabledSubmit = disabledSubmit && Model.Evidencija.Evidencija[@i].Granted;
    }
}

<h1>Evidencija vremena</h1>

<div class="container">
    <form class="row" method="post">
        <input class="col-4 form-control" asp-for="@Model.RequestedDate" id="current-date-input">
        <div class="col-1"></div>
        <button type="submit" class="col-2 btn btn-dark" asp-page-handler="WithDate">Odi na datum</button>
    </form>

    <div style="margin-top:20px;"></div>

    <div class="row">
        <p class="col-3 font-weight-bold">Projekt</p>
        <p class="col-1 font-weight-bold">Zabilježeno</p>
        <p class="col-1 font-weight-bold">Start</p>
        <p class="col-1 font-weight-bold">Stop</p>
        <p class="col-2 font-weight-bold">Radni sati (min)</p>
        <p class="col-2 font-weight-bold">Prekovremeni sati (min)</p>
    </div>

    <form method="post">

        @for (var i = 0; i < Model.Evidencija.Evidencija.Count; i++)
        {
            <div class="row">
                <input type="hidden" name="Evidencija.Datum" value="@Model.Evidencija.Datum" />
                <input type="hidden" name="Evidencija.DjelatnikId" value="@Model.Evidencija.DjelatnikId" />
                <input type="hidden" name="Evidencija.Evidencija[@i].Id" value="@Model.Evidencija.Evidencija[i].Id" />
                <input type="hidden" name="Evidencija.Evidencija[@i].Name" value="@Model.Evidencija.Evidencija[i].Name" />
                <input type="hidden" name="Evidencija.Evidencija[@i].Granted" value="@Model.Evidencija.Evidencija[i].Granted.ToString()" />

                <p class="col-3">@Model.Evidencija.Evidencija[i].Name</p>

                <p class="col-1" id="timer_@Model.Evidencija.Evidencija[i].Id">@(Model.Evidencija.Evidencija[i].WorkMinutes + Model.Evidencija.Evidencija[i].OverTimeMinutes)</p>


                <div class=" col-1" style="display:flex; justify-content:center; align-items:center;">
                    <i class="fas fa-play" style="color:green;" id="@Model.Evidencija.Evidencija[i].Id"></i>
                </div>

                <div class="col-1" style="display:flex; justify-content:center; align-items:center;">
                    <i class="fas fa-stop hidden" style="color:red;"></i>
                </div>

                <input type="number" class="form-control col-2" id="timeInput_@Model.Evidencija.Evidencija[i].Id"
                       name="Evidencija.Evidencija[@i].WorkMinutes" value="@Model.Evidencija.Evidencija[i].WorkMinutes"
                       readonly="@Model.Evidencija.Evidencija[i].Granted" />
                <input type="number" class="form-control col-2" id="overtimeInput_@Model.Evidencija.Evidencija[i].Id"
                       name="Evidencija.Evidencija[@i].OverTimeMinutes" value="@Model.Evidencija.Evidencija[i].OverTimeMinutes"
                       readonly="@(Model.Evidencija.Evidencija[i].Granted || User.IsInRole("Student"))" />

            </div>
        }

        <div class="row">
            <button type="submit" class="btn btn-success" asp-page-handler="" disabled="@disabledSubmit">
                Predaj
            </button>
        </div>

        <div style="height:2px; background-color:black; margin-top:10px;"></div>
        <div class="row">
            <p class="col-3 font-weight-bold">Ukupno</p>
            <p class="col-1 font-weight-bold">@Model.Evidencija.Evidencija.Sum(x => x.WorkMinutes + x.OverTimeMinutes)</p>
            <p class="col-1 font-weight-bold"></p>
            <p class="col-1 font-weight-bold"></p>
            <p class="col-2 font-weight-bold">@Model.Evidencija.Evidencija.Sum(x => x.WorkMinutes)</p>
            <p class="col-2 font-weight-bold">@Model.Evidencija.Evidencija.Sum(x => x.OverTimeMinutes)</p>
        </div>

        <div style="height:2px; background-color:black;"></div>
        <div class="row" style="margin-top:10px;">
            <div class="form-group col-10">
                <label class="font-weight-bold" for="napomenaText">Napomena</label>
                <textarea class="form-control" rows="3" id="napomenaText" asp-for="@Model.Evidencija.Napomena">@Model.Evidencija.Napomena</textarea>
            </div>
        </div>
    </form>
</div>


<script>
    var projectId = 0;
    var time = 0;
    var startTime = Math.floor(Date.now() / 1000);
    var timer = false;
    var shouldntRunTimer = @disabledSubmit.ToString().ToLower();

    $(document).ready(function () {

        var startElements = document.getElementsByClassName("fas fa-play");
        for (var i = 0; i < startElements.length; i++) {
            (function () {
                var order = i;
                startElements[i].addEventListener('click', function () { startHandler(order) });
            }());
        }

        var endElements = document.getElementsByClassName("fas fa-stop");
        for (var i = 0; i < endElements.length; i++) {
            (function () {
                var order = i;
                endElements[i].addEventListener('click', function () { stopHandler(order) });
            } ());
        }
    });



    function startHandler(orderId) {
        if (shouldntRunTimer)
            return;

        var startElements = document.getElementsByClassName("fas fa-play");
        var endElements = document.getElementsByClassName("fas fa-stop");
        for (var i = 0; i < startElements.length; i++) {

            if (projectId > 0 && timer) {
                var name = "timeInput_" + projectId;
                var timeInputElement = document.getElementById(name);

                var myTime = parseInt(time);
                var currentTime = parseInt(timeInputElement.value);
                timeInputElement.value = currentTime + myTime;

                time = 0;
            }

            startElements[i].classList.remove("hidden");
            endElements[i].classList.add("hidden");

            if (i === orderId) {
                startElements[i].classList.add("hidden");
                endElements[i].classList.remove("hidden");

                projectId = startElements[i].id;

                startTime = Math.floor(Date.now() / 1000); //Get the starting time (right now) in seconds

                timer = true;
                startTimeCounter();
            }
        }
    }

    function stopHandler(orderId) {
        var startElements = document.getElementsByClassName("fas fa-play");
        var endElements = document.getElementsByClassName("fas fa-stop");
        for (var i = 0; i < endElements.length; i++) {

            startElements[i].classList.remove("hidden");
            endElements[i].classList.add("hidden");

            if (i === orderId) {
                var name = "timeInput_" + projectId;
                var timeInputElement = document.getElementById(name);

                var myTime = parseInt(time);
                var currentTime = parseInt(timeInputElement.value);
                timeInputElement.value = currentTime + myTime;

                time = 0;
                stopTimeCounter();
            }
        }
    }

    function startTimeCounter() {
        var now = Math.floor(Date.now() / 1000); // get the time now
        var diff = now - startTime; // diff in seconds between now and start
        var m = Math.floor(diff / 60); // get minutes value (quotient of diff)
        var s = Math.floor(diff % 60); // get seconds value (remainder of diff)

        time = m;

        m = checkTime(m); // add a leading zero if it's single digit
        s = checkTime(s); // add a leading zero if it's single digit

        if (timer) {
            var name = "timer_" + projectId;
            document.getElementById(name).innerHTML = m + ":" + s; // update the element where the timer will appear
        }

        var t = setTimeout(startTimeCounter, 500); // set a timeout to update the timer
    }

    function stopTimeCounter() {
        timer = false;
    }

    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>