﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/customStyle.css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>

    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/TimeTrackingPage">Evidencija vremena</a>
                        </li>

                        @if (User.IsInRole("Direktor") || User.IsInRole("Voditelj tima"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="TimeManagement" asp-action="OdobriVrijeme">Odobri vrijeme</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>

        </nav>
        
    }

    <div style="height:30px;">

    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
