﻿@model TimesDTO
@{
    ViewBag.Title = "Odobri vrijeme";
}

    <div class="container">

        <h1>@Model.DjelatnikIme</h1>
        <p>@Model.DjelatnikTim</p>
        <p>@Model.Datum.ToString("dd.MM.yyyy")</p>

        <div style="margin-top:20px;"></div>

        @using (Html.BeginForm())
        {
            <div class="row">
                <p class="col-3 font-weight-bold">Projekt</p>
                <p class="col-2 font-weight-bold">Ukupno</p>
                <p class="col-2 font-weight-bold">Radni sati</p>
                <p class="col-2 font-weight-bold">Prekovremeni sati</p>
                <p class="col-2 font-weight-bold">Odobreno</p>
            </div>

            @for (var i = 0; i < Model.Evidencija.Count; i++)
            {
                <div class="row">
                    <input type="hidden" name="DjelatnikId" value="@Model.DjelatnikId" />
                    <input type="hidden" name="Datum" value="@Model.Datum" />
                    <input type="hidden" name="Evidencija[@i].Id" value="@Model.Evidencija[i].Id" />

                    <p class="col-3">@Model.Evidencija[i].Name</p>
                    <p class="col-2">@(Model.Evidencija[i].WorkMinutes + Model.Evidencija[i].OverTimeMinutes)</p>

                    <input type="number" class="form-control col-2" asp-for="@Model.Evidencija[i].WorkMinutes" value="@Model.Evidencija[i].WorkMinutes" readonly />
                    <input type="number" class="form-control col-2" asp-for="@Model.Evidencija[i].OverTimeMinutes" value="@Model.Evidencija[i].OverTimeMinutes" readonly />

                    <div class="form-check col-1 justify-content-center" style="display:flex; max-width:16.3333%; flex:0 0 12.3333%; align-items:center;">
                        @Html.CheckBoxFor(m => m.Evidencija[i].Granted, new { @class = "form-check-input col-1" })
                    </div>

                </div>
            }

            <button type="submit" asp-action="Odobravanje" asp-controller="TimeManagement" class="btn btn-primary">Odobri vrijeme</button>

            <div style="height:2px; background-color:black; margin-top:10px;"></div>
            <div class="row">
                <p class="col-3 font-weight-bold">Ukupno</p>
                <p class="col-1 font-weight-bold">@Model.Evidencija.Sum(x => x.WorkMinutes + x.OverTimeMinutes)</p>
                <p class="col-1 font-weight-bold"></p>
                <p class="col-1 font-weight-bold"></p>
                <p class="col-2 font-weight-bold">@Model.Evidencija.Sum(x => x.WorkMinutes)</p>
                <p class="col-2 font-weight-bold">@Model.Evidencija.Sum(x => x.OverTimeMinutes)</p>
            </div>

            <div style="height:2px; background-color:black;"></div>
            <div class="row" style="margin-top:10px;">
                <div class="form-group col-10">
                    <label class="font-weight-bold" for="napomenaText">Napomena</label>
                    <textarea class="form-control" rows="3" id="napomenaText" asp-for="@Model.Napomena">@Model.Napomena</textarea>
                </div>
            </div>
        }

    </div>