﻿@model OdobriVrijemeDTO
@{
    ViewBag.Title = "Odobri vrijeme";
}

    <div class="container">
        <form method="post">
            <div class="form-group">
                <label asp-for="Datum">Datum</label>
                <input asp-for="@Model.Datum" class="form-control" type="date">
            </div>

            <div class="form-group">
                <label asp-for="DjelatnikId">Djelatnik</label>
                @Html.DropDownListFor(model => model.DjelatnikId, ViewBag.SelectListDjelatnika as List<SelectListItem>, new { @class = "form-control" })
            </div>
            
            <button type="submit" class="btn btn-primary">Odaberi radnika</button>
        </form>
    </div>
