﻿@model LoginDTO
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <form method="post">
        <div class="form-group">
            <label asp-for="Username">E-mail address</label>
            <input asp-for="Username" class="form-control" type="email" placeholder="Enter E-mail" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
